@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background: #E5F7FF;
}

.title {
    color: #37677B;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 3em;
    margin: 0;
    margin-bottom: .5em;
}

p {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #37677B;
    margin: 0;
    margin-bottom: 2.5em;
}

button {
    background: #6E44FF;
    border-radius: 18px;
    border: none;
    padding: 1.2em 0.8em;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-right: 1em;
}

.buttons {
    display: flex;
}

a {    
    text-decoration: none;
    background: #6E44FF;
    border-radius: 18px;
    border: none;
    padding: 1.2em 0.8em;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-right: 1em;
}

a:hover {
    background: #3d2692;
}

.row {
    padding: 1.5em;
}

.mockup {
    width: 100%;
    height: auto;
    max-height: 500px;
}

@media only screen and (min-width: 768px) {

    .main {
        padding: 3em;
    }
        
    .title {
        font-size: 3.5em;
    }
    
    a {
        font-size: 15px;
    }

    .container {
        display: flex;
        max-width: 1025px;
    }

}

@media only screen and (min-width: 1100px) {
            
    .title {
        font-size: 4em;
    }
    
    a {
        font-size: 16px;
    }
    
    }
